<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="BluePlumGit.Properties.Settings.ConfigurationConnectionString"
        connectionString="data source=Configuration.db" providerName="System.Data.SQLite" />
    <add name="BluePlumGit.Properties.Settings.ConfigurationConnectionString1"
        connectionString="data source=Configuration.db"
        providerName="System.Data.SQLite" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
